<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Authentication - StaySync{% endblock %}</title>
  {% load static %}
  <!-- Bootstrap CSS -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
</head>
<body class="this-page">
<div class="container my-5">
        {% block content %}
        {% endblock %}
    </div>

  <!-- Footer (Optional) -->


  <!-- Bootstrap JS -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
